html{
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    height: auto;
    width: auto;
}
header{
    background-color: aquamarine;
    font-size: 16px;
}
a:hover{
    color: black;
}